.yamm.dark .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #242424;
}

.yamm.dark .dropdown.yamm-fw .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #242424;
    padding: 30px;
}
.yamm.dark .list-unstyled li p {
    color: #000;
}

.yamm.dark .list-unstyled a:hover {
    color: #dd562a;
}